<!-- checkbox.hbs begin -->
<input type="checkbox" id="{{name}}" name="{{name}}" value="true" {{#checked}}checked="checked"{{/checked}} >
<label for="{{name}}" title="{{description}}">{{label}}</label><br>
<!-- checkbox.hbs begin -->
